.footer {
   background-color: #1c242a;
   padding: 45px 0;
   &__content {
      display: flex;
      @media (max-width: 767px) {
         display: block;
         text-align: center;
      }
   }

   &__column {
      &_full {
         flex: 1 1 auto;
      }
      &:last-child {
         text-align: right;
      }
   }

   &__logo {
      display: inline-block;
      margin-bottom: 25px;
   }

   &__info {
      color: #bb9c66;
      line-height: 21px;
   }

   &__menu {
      padding: 0 30px;
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      li {
         margin: 8px 15px 15px 0px;
      }
      @media (max-width: 767px) {
         justify-content: center;
         margin: 8px 7px 15px 7px;
      }
   }

   &__link {
      font-family: "PFDin";
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      @media (min-width: 992px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   &__phone {
      margin-top: 15px;
      white-space: nowrap;
      display: inline-flex;
      align-items: flex-start;
      color: #bb9c66;
      line-height: 25px;
      display: block;
      font-family: "BravoRGRegular";
      font-size: 50px;
      text-transform: uppercase;
      small {
         margin: -35px -5px 0 0;
         font-size: 25px;
      }
      @media (max-width: 991px) {
         font-size: 35px;
         small {
            font-size: 20px;
         }
      }
      @media (max-width: 767px) {
         justify-content: center;
         text-align: center;
      }
   }

   &__callback {
      color: #bb9c66;

      background: url("../img/info/callback.svg") left no-repeat;
      padding-left: 20px;
      span {
         border-bottom: 1px dashed;
      }
      @media (max-width: 767px) {
         justify-content: center;
         text-align: center;
      }
   }
}

//====================================================================================================

//====================================================================================================
